body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
}

.contact-title{
    margin-top: 100px;
    color: aliceblue;
    text-transform: uppercase;
}

.contact-title h1{
    font-size: 50px;
}

form{
    margin-top: 50px;
}

.form-control{
    width: 400px;
    background: transparent;
    border: none;
    border-bottom: 2px solid steelblue;
    color: aliceblue;
    margin-bottom: 18px;
}

input{
    height: 45px;
}

form .submit{
    width: 120px;
    background: steelblue;
    border-color: transparent;
    font-size: 12px;
    letter-spacing: 1px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    
    transform: translate(140px,-80px);
}

form .submit:hover{
    background: rgba(70, 131, 180, 0.562);
}